{#
/**
 * @file
 * lib-hours-today template
 *
 * Variables:
 *   - hours
 *   - branch_prefix
 *   - branch_suffix
 *   - show_location
 */
#}
{% set twentyFourHrs = FALSE %}
<div class="hours-embed">
  <div class="hours-main">
    <div class="hours1">
      {% if hours %}
        {% for location in hours %}
          {% if location.name is not empty %}
            {% set lib_id = location.lid %}
            <div class="utility-border">
              <span class="utility-location">
                {% if locations[lib_id] and show_location %}
                  {% if urls[lib_id] %}
                    <a href="{{urls[lib_id]}}">
                      {{ locations[lib_id]|raw }}
                    </a>
                  {% else %}
                    {{ locations[lib_id]|raw }}
                  {% endif %}
                {% elseif show_location %}
                  {{ location.name|raw }}
                {% endif %}
                {% if  show_location and location.name == 'McKeldin Library' %}<span style="font-weight: 1">(Main)</span>{% endif %}
              </span>
              <span class="utility-hours"> 
                {% if current_date %}
                  <p>Today - {{ current_date|date("m/d/Y l") }}</p>
                {% endif %}
                {% if location.dates %}
                  {% for date, location_info in location.dates %}
                    {% if location_info.hours %}
                      {% for hours_info in location_info.hours %}
                        {% if location.name == 'McKeldin Library' %}
                          {{ hours_info.from|replace({'12:00AM' : '24 Hours'}) }} 
                          {%if hours_info.to %}
                            <p>Open: {{ hours_info.to|replace({'12:00AM' : '24 Hours'}) }}</p>
                          {% endif %}
                        {% else %}
                          <p>Open: {{ hours_info.from }} 
                          {%if hours_info.to %}
                              - {{ hours_info.to }}
                          {% endif %}
                          </p>
                        {% endif %}
                      {% endfor %}
                    {% elseif location_info.status %}
                      {% if location_info.status == 'text' %}
                        <p>{{ location_info.text|raw }}</p>
                      {% elseif location_info.status == 'closed' %}
                        <p>Closed</p>
                      {% elseif location_info.status == '24hours' %}
                        <p>Open: 24 Hours *</p>
                        {% set twentyFourHrs = TRUE %}
                      {% endif %}
                      {% if hours_info.to == '12:00AM' %}
                        {% set twentyFourHrs = TRUE %}
                      {% endif %}
                      {% if hours_info.from == '12:00AM' %}
                        {% set twentyFourHrs = TRUE %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% elseif location.name %}
                  - contact us -
                {% endif %}
              </span>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if twentyFourHrs == TRUE %}
          <div class="hours-heading-note">
            <p>* Campus ID required 11pm-8am</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
